* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  list-style-type: none;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#root > h1 {
  padding: 20px;
}

#key-Box {
  display: flex;
  flex-direction: row;
  background-color: beige;
}

.key {
  font-size: 100px;
  margin: 20px;
}

.work-Box {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
